body {
    background-color: black;

}


.images {
    display: flex;
    flex-wrap: wrap;
    /*margin: 20px 0;*/
    /*background-color: black;*/
    justify-content: space-around;
    /*margin-top: 10rem;*/
}


.image {
    width: 45%;
    height: 32rem;
    margin: 30px;
    text-align: center;
    border: none;
    border-radius: 15px;
    position: relative;
    top: 34px;
    font-size: 36rem;
}


.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*border-top-left-radius: 17px;*/
    /*border-top-right-radius: 17px;*/

}

.image p {
    color: white;
    /*font-size: 42px;*/
    font-size: 56px;
    font-weight: bold;
    padding-top: 28px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

/*h2 {*/
/*    color: white;*/
/*    display: flex;*/
/*    font-size: 3rem;*/
/*    padding-top: 13rem;*/
/*    gap: 38px;*/
/*    padding-left: 4rem;*/
/*    position: relative;*/
/*    !* top: -5rem; *!*/
/*}*/

h1 {
    color: white;
    padding-top: 2rem;
    font-size: 48px;
    padding-left: 60px;
    display: flex;
}

input {
    width: 13rem;
    text-align: center;
    font-size: 35px;
}

select{
    font-size: 32px;
    width: 65px;
}

.quantities{
    /*padding-right: 5rem;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35rem;
    margin-left: 10px;
    width: 37%;
}

section {
    position: absolute;
    height: 80%;
    width: 100%;
}

.drink-name {
    padding: 9px;
    border: 5px solid white;
    text-align: center;
    display: block;
    font-size: 54px;
    margin-top: 77px;
    /*box-shadow: 0 12px 16px 0 gray;*/
    box-shadow: 6px 11px 20px 0 gray;
}

.drink-price {
    font-size: 45px;
    color: white;
    margin-right: 15px;
}

input{
    width: 76px;
    text-align: center;
    font-size: 56px;
}

.quantities-select input{
    width: 5rem;
    height: 5rem;
    font-size: 54px;
    background-color: gray;
    border: 3px solid white;
    box-shadow: 0 12px 16px 0 gray;
}

.plus-btn{
    font-size: 74px;
    width: 206px;
    height: 85px;
}

.minus-btn{
    font-size: 74px;
    width: 13rem;
    height: 85px;
}

.total-price{
    font-size: 56px;
    color: white;
    margin-top: 4rem;
    justify-content: center;
    display: flex;
    gap: 18px;
}

.pay-now-btn{
    font-size: 41px;
    background-color: green;
    color: white;
    margin-right: 20px;
    width: 25rem;
    max-height: 65px;
    border: 4px solid;
    cursor: pointer;
}

.pay-now-btn:hover,
.add-to-cart-btn:hover{
    transition-duration: 1s;
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 gray;
}

.add-to-cart-btn{
    font-size: 41px;
    background-color: green;
    color: white;
    width: 28rem;
    max-height: 65px;
    border: 4px solid;
    cursor: pointer;
}

/*make the title on top of the page*/

.title{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main-pg{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 75%;*/
    width: 70%;
    height: auto;
}

.quantities-select{
    display: flex;
    gap: 12px;
}

.tot-price {
    border: none;
    /*background-color: black;*/
}

.title h2{
    color: white;
    display: flex;
    font-size: 3rem;
    gap: 38px;
    padding-left: 4rem;
    position: relative;
}

.add-to-cart {
    margin-top: 70px;
    display: flex;
}

.title-heading h1{
    color: white;
    padding-top: 2rem;
    font-size: 48px;
    padding-left: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 8rem;
}

.title-heading span{
    position: relative;
    right: -24rem;
}

.coffee-desc p {
    color: white;
    font-size: 38px;
    text-align: center;
    width: 97rem;
    margin-top: 97px;
}

.plus-btn,
.minus-btn {
    transition-duration: 1s;
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 gray;
    cursor: pointer;
}

.plus-btn:hover,
.minus-btn:hover {
    transition-duration: 1s;
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 gray;
}