body {
    background-color: black;

}


.images {
    display: flex;
    flex-wrap: wrap;
    /*margin: 20px 0;*/
    /*background-color: black;*/
    justify-content: space-around;
    /*margin-top: 10rem;*/
}


.image {
    /*height: 25rem;*/
    /*width: 42rem;*/
    width: 45%;
    height: 34rem;
    margin: 30px;
    /*box-shadow: 0 0 25px 11px blue;*/
    text-align: center;
    border: none;
    border-radius: 15px;
    position: relative;
    top: 4rem;
    font-size: 36rem;
}


.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;

}

.image p {
    color: white;
    /*font-size: 42px;*/
    font-size: 56px;
    font-weight: bold;
    padding-top: 28px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

/*h2 {*/
/*    color: white;*/
/*    display: flex;*/
/*    font-size: 3rem;*/
/*    padding-top: 13rem;*/
/*    gap: 38px;*/
/*    padding-left: 4rem;*/
/*    position: relative;*/
/*    !* top: -5rem; *!*/
/*}*/

h1 {
    color: white;
    padding-top: 5rem;
    font-size: 48px;
    padding-left: 60px;
    display: flex;
    gap: 34px;
}

input {
    width: 13rem;
    text-align: center;
    font-size: 35px;
}

select{
    font-size: 32px;
    width: 65px;
}

.quantities{
    /*padding-right: 5rem;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35rem;
    margin-left: 10px;
    width: 32%;
}

section {
    position: absolute;
    height: 80%;
    width: 100%;
}

.drink-name {
    padding: 9px;
    border: 5px solid white;
    text-align: center;
    display: block;
    font-size: 54px;
    margin-top: 77px;
}

.drink-price {
    font-size: 45px;
    color: white;
    margin-right: 15px;
}

input{
    width: 6rem;
    text-align: center;
    font-size: 74px;
}

.quantities-select input{
    width: 6rem;
    font-size: 54px;
}

.plus-btn{
    font-size: 74px;
    width: 13rem;
}

.minus-btn{
    font-size: 74px;
    width: 13rem;
}

.total-price{
    font-size: 5rem;
    color: white;
    margin-top: 4rem;
    justify-content: center;
    display: flex;
    gap: 18px;
}

.pay-now-btn{
    font-size: 47px;
    background-color: green;
    color: white;
    margin-right: 39px;
    width: 18rem;
    height: 6rem;
    border: 4px solid;
}

.add-to-cart-btn{
    font-size: 47px;
    background-color: green;
    color: white;
    width: 18rem;
    height: 6rem;
    border: 4px solid;
}

/*make the title on top of the page*/

.title{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main-pg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: auto;
}

.quantities-select{
    display: flex;
    gap: 28px;
    margin-top: 1rem;
}

.add-to-cart {
    margin-top: 5rem;
}

.tot-price {
    border: none;
    /*background-color: black;*/
}

.title h2{
    color: white;
    display: flex;
    font-size: 3rem;
    gap: 38px;
    padding-left: 4rem;
    position: relative;
}