body {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    background-color: black;
    align-items: center;
    margin-top: 3rem;
    padding-right: 10px;
}

/* img {
    max-width: 100%;
    height: auto;
    display: block;
} */

.image {
    /*width: 450px;*/
    width: 300px;
    height: 350px;
    /*height: 470px;*/
    /*box-shadow: 0 0 25px 11px blue;*/
    text-align: center;
    border: 3px solid blue;
    border-radius: 15px;
    margin: 3rem;
}

.image:hover {
    /*transition-delay: 250ms;*/
    /*transform-style: flat;*/
     box-shadow: 0 0 25px 11px blue;
}

/*.image:nth-child(9){*/
/*    margin-right: 27rem;*/
/*}*/

.image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    margin-top: -1rem;
}

.image h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    /*padding-top: 28px;*/
}

a {
    text-decoration: none;
}

.title {
    color: white;
}

.cart {
    color: white;
}

nav,
.container {
    display: flex;
}

/*make the nav to be above the container*/

nav {
    flex-direction: row;
    /*top: 0;*/
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

/*make the cart to be in the right side of the page*/

.cart {
    position: relative;
    right: -6rem;
    font-size: 35px;
    cursor: pointer;
    border: none;
    background: none;
}
