@media only screen and (max-width: 1700px) {

    .quantities {
        width: 41%;
    }
}

@media only screen and (max-width: 1600px) {

    .quantities {
        width: 46%;
    }
}

@media only screen and (max-width: 1351px) {

    .quantities {
        width: 50%;
    }

    .main-pg {
        width: 82%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 1238px) {

    .quantities {
        width: 41%;
    }

    .main-pg {
        width: 86%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 1238px) {

    .quantities {
        width: 45%;
    }

    .main-pg {
        width: 100%;
        margin-left: 13%;
    }
}

@media only screen and (max-width: 1118px) {

    .main-pg {
        width: 89%;
    }
}

@media only screen and (max-width: 1108px) {

    .main-pg {
        width: 100%;
        margin-left: 120px;
    }
}

@media only screen and (max-width: 1085px) {

    .main-pg {
        width: 100%;
        margin-left: 110px;
    }
}

@media only screen and (max-width: 1076px) {

    .main-pg {
        width: 100%;
        margin-left: 9%;
    }
}

@media only screen and (max-width: 1070px) {

    .main-pg {
        width: 100%;
        margin-left: 82px;
    }
}

@media only screen and (max-width: 1070px) {

    .main-pg {
        width: 92%;
        margin-left: 8%;
    }
}

@media only screen and (max-width: 1047px) {

    .main-pg {
        width: 100%;
        margin-left: 70px;
    }
}

@media only screen and (max-width: 1038px) {

    .main-pg {
        width: 94%;
        margin-left: 6%;
    }
}

@media only screen and (max-width: 1027px) {

    .main-pg {
        width: 95%;
        margin-left: 55px;
    }
}

@media only screen and (max-width: 1021px) {

    .main-pg {
        width: 100%;
        margin-left: 45px;
    }
}

@media only screen and (max-width: 1010px) {

    .main-pg {
        width: 100%;
        margin-left: 35px;
    }
}

@media only screen and (max-width: 1001px) {

    .main-pg {
        width: 100%;
        margin-left: 30px;
    }
}

@media only screen and (max-width: 997px) {

    .main-pg {
        width: 100%;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 997px) {

    .main-pg {
        width: 100%;
        margin-left: 0;
    }
}