@media only screen and (max-width: 1700px) {

    .quantities {
        width: 41%;
    }
}

@media only screen and (max-width: 1617px) {

    .coffee-desc p {
        width: 54rem;
    }
}

@media only screen and (max-width: 1600px) {

    .quantities {
        width: 46%;
    }

    .coffee-desc p {
        width: 54rem;
    }
}

@media only screen and (max-width: 1382px) {

    .coffee-desc p {
        width: 45rem;
    }
}

@media only screen and (max-width: 1351px) {

    .quantities {
        width: 50%;
    }

    .main-pg {
        width: 73%;
        margin-left: -3%;
    }
}

@media only screen and (max-width: 1327px) {

    .title-heading button {
    right: -16rem;
    }
}

@media only screen and (max-width: 1238px) {

    .quantities {
        width: 41%;
    }

    .main-pg {
        width: 80%;
        margin-left: -5%;
    }
}

@media only screen and (max-width: 1238px) {

    .quantities {
        width: 45%;
    }

    .main-pg {
        width: 80%;
        margin-left: -3%;
    }
}

@media only screen and (max-width: 1206px) {

    .main-pg {
        width: 85%;
    }
}

@media only screen and (max-width: 1136px) {

    .main-pg {
        width: 88%;
    }

    .coffee-desc p {
        width: 54rem;
    }
}

@media only screen and (max-width: 1118px) {

    .main-pg {
        width: 89%;
    }
}

@media only screen and (max-width: 1109px) {

    .main-pg {
        width: 89%;
        margin-left: -16px;
    }
}

@media only screen and (max-width: 1085px) {

    .main-pg {
        width: 92%;
        margin-left: -32px;
    }

    .coffee-desc p {
        width: 50rem;
    }
}

@media only screen and (max-width: 1048px) {

    .main-pg {
        width: 93%;
    }
}

@media only screen and (max-width: 1038px) {

    .main-pg {
        width: 96%;
    }
}

@media only screen and (max-width: 1004px) {

    .main-pg {
        width: 100%;
        margin-left: -40px;
    }
}