{% extends 'base.html' %}

{% load static %}

{% block content %}

{#    {% if order != None %}#}

    <h1>Cart</h1>
    <table>
    <thead>
    <tr>
            <th>Drink</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
    </thead>

    <tbody>

        {% for drink in cart_items %}

        <tr>
            <td>{{ drink.drink_name }}</td>
            <td>{{ drink.quantity }}</td>
            <td>{{ drink.drink_price }}</td>
            <td>{{ drink.drink_price * drink.quantity }}</td>
            <td><a href="{% url 'update_cart' drink.id %}">Update</a></td>
            <td><a href="{% url 'remove_from_cart' drink.id %}">Remove</a></td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="3">Total</td>
            <td>{{ total }}</td>
    </tbody>
    </table>

{#    {% endif %}#}
{% endblock %}
