{% load static %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'cart.css' %}">
    <link rel="stylesheet" href="{% static 'cart-responsive.css' %}">
{% endblock %}
<script src="https://kit.fontawesome.com/4cf7026c74.js" crossorigin="anonymous"></script>

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'main' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
                        <th><h5>Items: <strong>{{ order.get_cart_items }}</strong></h5></th>
						<th><h5>Total:<strong>${{order.get_cart_total|floatformat:2}}</strong></h5></th>
						<th>
                            <button style="float:right; margin:5px;" id="show-img-btn" class="btn btn-success">Pay Now</button>
                            <div id="img-overlay">
                            <img src="{% static 'images/card-payment.png' %}" alt="">
                        </div>

                        <div id="img-overlay-1">
                            <h1>Please collect your order</h1>
                            <img src="{% static 'images/checked.png' %}">
                        </div>

                        <div id="loading-dots">
                            <h1>Loading</h1>
                            <div class="dots">
                            <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                            </div>
                        </div>
						</th>
					</tr>
				</table>

			</div>

			<br>

			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
                    <div style="flex:1"><strong>Delete</strong></div>

				</div>

                {% for item in items %}
				<div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{% static 'images/'|add:item.product.productName|add:'.jpg' %}" alt="Drink Image" /></div>
                    <div style="flex:2"><p>{{item.product.productName}}</p></div>
                    <div style="flex:1"><p>$ {{item.product.price_with_profit|floatformat:2}}</p></div>
					<div style="flex:1">
                        <p class="quantity">{{item.quantity}}</p>
						<div class="quantity">

                            <div class="chg-quantity">
                                <button class="arrow-up" data-product="{{ item.product.id }}" data-quantity="{{ item.quantity }}" data-action="plus"><i class="fa-solid fa-arrow-up"></i></button>
                                <button class="arrow-down" data-product="{{ item.product.id }}" data-quantity="{{ item.quantity }}" data-action="remove"><i class="fa-solid fa-arrow-down"></i></button>
                            </div>
						</div>
					</div>
                    <div style="flex:1"><p>${{item.get_total|floatformat:2}}</p></div>
                 <div style="flex:1">
                          <button class="trash" data-product="{{ item.product.id }}" data-action="delete"><i class="fa-solid fa-trash"></i></button>

                 </div>
				</div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>

                        let arrowUp = document.getElementsByClassName('arrow-up');
                        let arrowDown = document.getElementsByClassName('arrow-down');
                        let trash = document.getElementsByClassName('trash');
                        let user = '{{ user }}';

                        for(let i=0; i<arrowUp.length;i++) {
                            arrowUp[i].addEventListener('click', Operation);
                            arrowDown[i].addEventListener('click', Operation);
                            trash[i].addEventListener('click', Operation);
                        }

                        function Operation() {
                            let action = this.dataset.action;
                            let product = this.dataset.product;
                            {#let all_quantity = 0#}
                            let quantity = parseInt(this.dataset.quantity);

                            {#all_quantity += quantity#}

                            if(action == "plus"){
                                quantity += 1;
                            }else if(action == "remove") {
                                if (quantity > 0){
                                    quantity -= 1;
                                }else if (quantity === 0) {
                                    alert("Quantity is only greater or equal to zero");
                                }
                            }

                            console.log('action:', action);
                            console.log('product:', product);
                            console.log('quantity', quantity);

                            updateUserOrder(action, product, quantity)
                    }

                    function updateUserOrder(action, product, quantity) {
                        console.log('User is authenticated, sending data...');

                        let url = '/update_item/';

                        fetch(url, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({'action': action, 'productId': product, 'quantity': quantity})
                        })

                        .then((response) => {
                            return response.json();
                        })

                        .then((data) => {
                            console.log('data:', data);
                            {#location.update();#}
                            location.reload();
                        });
                    }

                     </script>


    <script type="text/javascript">

            function deleteOrder(){
                document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
        }

         const showImageBtn = document.getElementById('show-img-btn');
         const imageOverlay = document.getElementById('img-overlay');
         const imageOverlay1 = document.getElementById('img-overlay-1')
         const LoadDots = document.getElementById('loading-dots')
         const current_url = "{{ request.get_host }}";

         console.log(window.location.protocol);

         var url = window.location.protocol + "//" + current_url;

        console.log(current_url);

        showImageBtn.addEventListener('click', function() {
            imageOverlay.style.display = 'block';
            console.log('clicked')
        });

        imageOverlay.addEventListener('click', function() {
            LoadDots.style.display = 'block';
            imageOverlay.style.display = 'none';
        });

        LoadDots.addEventListener('click', function (){
            imageOverlay1.style.display = 'block';
            LoadDots.style.display = 'none';
            imageOverlay.style.display = 'none';
        })

         imageOverlay1.addEventListener('click', function (){
             deleteOrder();
             imageOverlay1.style.display = 'none'
             console.log(window.location.href);
             window.location.replace(url);
         })

        setTimeout(function() {
            let image = document.getElementById('img-overlay');
            image.setAttribute('src', '{% static 'images/checked.png' %}');
            image.setAttribute('alt', 'New Image');
    }, 5000); // Replace the image after 5 seconds (5000 milliseconds)


         </script>
{% endblock content %}