<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base.html' %}
    <title>{{ drink.productName }}</title>
    {% load static %}
{#    <link rel="stylesheet" href="{% static 'LeafTea.css' %}">#}
    <link rel="stylesheet" href="{% url 'get_drink_info' product.product_name %}">>
    <script src="https://kit.fontawesome.com/4cf7026c74.js" crossorigin="anonymous"></script>
{#    <a href="{% url 'get_drink_info' product.product_name %}">product.product_name</a>#}
{#    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>#}

{#    <script type="text/javascript">#}
{##}
{#        function getCookie(name) {#}
{#            let cookieValue = null;#}
{#            if (document.cookie && document.cookie !== '') {#}
{#                let cookies = document.cookie.split(';');#}
{#                for (let i = 0; i < cookies.length; i++) {#}
{#                    let cookie = cookies[i].trim();#}
{#                    // Does this cookie string begin with the name we want?#}
{#                    if (cookie.substring(0, name.length + 1) === (name + '=')) {#}
{#                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));#}
{#                        break;#}
{#                    }#}
{#                }#}
{#            }#}
{#            return cookieValue;#}
{#        }#}
{#        var csrftoken = getCookie('csrftoken');#}
{##}
{#        function getCookie(name){#}
{#            var cookieArr = document.cookie.split(";");#}
{##}
{#            for(var i = 0; i < cookieArr.length; i++){#}
{##}
{#                var cookiePair = cookieArr[i].split("=");#}
{##}
{#                if(name == cookiePair[0].trim()){#}
{#                    return decodeURIComponent(cookiePair[1]);#}
{#                }#}
{#            }#}
{#            return null;#}
{#        }#}
{##}
{#        var cart = JSON.parse(getCookie('cart'));#}
{#        if (cart === undefined) {#}
{#            cart = {}#}
{#            console.log('cart is empty')#}
{#            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"#}
{#        }#}
{##}
{#    </script>#}
</head>
<body>
     {% block content %}
         <section class="images">

            <nav class="title">
                <a href="{% url 'main' %}"><button class="back"><i class="fa-solid fa-arrow-left"></i></button></a>
                <h1 class="title-heading">Your selection</h1>
                <a href="cart"><button class="cart"><i class="fa-solid fa-cart-shopping"></i></button></a>

            </nav>

             <div class="main-pg">
                <div class="image">
                    <img src="{% static 'images/'|add:drink.productName|add:'.jpg' %}" />
                </div>

                <div class="quantities">
                    <h1 class="drink-name">{{ drink.productName }}</h1>#}

                    <div class="quantities-select">
                        <span class="drink-price">${{ price }}</span>

                        <input type="text" name="name" value="1" readonly>

                        <button class="plus-btn" type="button" name="button">+</button>

                        <button class="minus-btn" type="button" name="button">-</button>
                    </div>

                    <div class="total-price">
                        <span class="total-price-text">Total:</span>
{#                        <span class="total-price-value">{{ total.value }}</span>#}
                        <input class="tot-price" type="number" id="price" value="{{ total.value }}" disabled><span>$</span>
                    </div>

                    <div class="add-to-cart">
                        <button id="show-img-btn" class="pay-now-btn" type="button" name="button">Pay Now</button>
                        <div id="img-overlay">
                            <img src="{% static 'images/card-payment.png' %}" alt="">
                        </div>

                        <div id="img-overlay-1">
                            <h1>Please collect your order</h1>
                            <img src="{% static 'images/checked.png' %}">
                        </div>

                        <div id="loading-dots">
                            <h1>Loading</h1>
                            <div class="dots">
                            <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                            </div>
                            </div>
                        <button data-action="add" class="add-to-cart-btn" type="button" onclick="addToCart()">Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="coffee-desc">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

        </section>

    <script type="text/javascript">

        let quantity = document.querySelector('.quantities-select input');
        let plusBtn = document.querySelector('.plus-btn');
        let minusBtn = document.querySelector('.minus-btn');
        let drink_price = {{ price }};
        let total = document.querySelector('.tot-price');
        let quantityValue = 1;
        let priceValue = 5.99;

        plusBtn.addEventListener('click', function () {
            quantityValue++;
            quantity.value = quantityValue;
            total.value = ({{ price }} * quantityValue).toFixed(2);
        });

        minusBtn.addEventListener('click', function () {
            if (quantityValue > 1) {
                quantityValue--;
                quantity.value = quantityValue;
                {#total.value = (priceValue * quantityValue).toFixed(2);#}
                total.value = ({{price}} * quantityValue).toFixed(2);
            }
        });

        quantity.addEventListener('change', function () {
            total.value = ({{price}} * quantity.value).toFixed(2);
        });

        total.value = ({{price}} * quantityValue).toFixed(2);
    </script>

{#///////////// Add to cart /////////////#}

         <script>

            function addToCart(){
                let item = {
                    name: '{{ drink.productName }}',
                    price: '{{ price }}',
                    quantity: quantity,
                    total_price: total.value
                }
                cart.push(item)
            }

         </script>


         {#//////// Show Images //////////#}


         <script>

         const showImageBtn = document.getElementById('show-img-btn');
         const imageOverlay = document.getElementById('img-overlay');
         const imageOverlay1 = document.getElementById('img-overlay-1')
         const LoadDots = document.getElementById('loading-dots')

        showImageBtn.addEventListener('click', function() {
            imageOverlay.style.display = 'block';
        });

        imageOverlay.addEventListener('click', function() {
            LoadDots.style.display = 'block';
            imageOverlay.style.display = 'none';
        });

        LoadDots.addEventListener('click', function (){
            imageOverlay1.style.display = 'block';
            LoadDots.style.display = 'none';
            imageOverlay.style.display = 'none';
        })

         imageOverlay1.addEventListener('click', function (){
             imageOverlay1.style.display = 'none'
         })

        setTimeout(function() {
            let image = document.getElementById('img-overlay');
            image.setAttribute('src', '{% static 'images/checked.png' %}');
            image.setAttribute('alt', 'New Image');
    }, 5000); // Replace the image after 5 seconds (5000 milliseconds)

         </script>
    {% endblock %}
</body>
</html>