<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base.html' %}
    <title>{{ drink.productName }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% url 'get_drink_info' product.product_name %}">
    <script src="https://kit.fontawesome.com/4cf7026c74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)

	</script>

</head>
<body>
     {% block content %}
         <section class="images">

            <nav class="title">
                <a href="{% url 'main' %}"><button class="back"><i class="fa-solid fa-arrow-left"></i></button></a>
                <h1 class="title-heading">Your selection</h1>
                <a href="{% url 'cart' %}">
                    <button class="cart"><i class="fa-solid fa-cart-shopping"></i></button>
                </a>
                <p id="cart-total">{{ cartItems }}</p>

            </nav>

             <div class="main-pg">
                <div class="image">
                    <img src="{% static 'images/'|add:drink.productName|add:'.jpg' %}" />
                </div>

                <div class="quantities">
                    <h1 class="drink-name">{{ drink.productName }}</h1>#}

                    <div class="quantities-select">
                        <span class="drink-price">${{ price }}</span>

                        <input id="quantity" type="text" name="name" value="1" readonly>

                        <button class="plus-btn" type="button" name="button">+</button>

                        <button class="minus-btn" type="button" name="button">-</button>
                    </div>

                    <div class="total-price">
                        <span class="total-price-text">Total:</span>
                        <input class="tot-price" type="number" id="price" value="{{ total.value }}" disabled><span>$</span>
                    </div>

                    <div class="add-to-cart">
                        <button id="show-img-btn" class="pay-now-btn" type="button" name="button">Pay Now</button>
                        <div id="img-overlay">
                            <img src="{% static 'images/card-payment.png' %}" alt="">
                        </div>

                        <div id="img-overlay-1">
                            <h1>Please collect your order</h1>
                            <img src="{% static 'images/checked.png' %}">
                        </div>

                        <div id="loading-dots">
                            <h1>Loading</h1>
                            <div class="dots">
                            <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                            </div>
                        </div>
                        <button data-product="{{ drink.id }}" data-action="add" class="add-to-cart-btn update-cart" type="button">Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="coffee-desc">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

        </section>


{#         ///////////// Quantity buttons /////////////#}

    <script type="text/javascript">

        let quantity = document.querySelector('.quantities-select input');
        let plusBtn = document.querySelector('.plus-btn');
        let minusBtn = document.querySelector('.minus-btn');
        let drink_price = {{ price }};
        let total = document.querySelector('.tot-price');
        let quantityValue = 1;
        let priceValue = 5.99;
        let customer_id = {{ customer }}

        plusBtn.addEventListener('click', function () {
            quantityValue++;
            quantity.value = quantityValue;
            total.value = ({{ price }} * quantityValue).toFixed(2);
        });

        minusBtn.addEventListener('click', function () {
            if (quantityValue > 1) {
                quantityValue--;
                quantity.value = quantityValue;
                total.value = ({{price}} * quantityValue).toFixed(2);
            }
        });

        quantity.addEventListener('change', function () {
            total.value = ({{price}} * quantity.value).toFixed(2);
        });

        total.value = ({{price}} * quantityValue).toFixed(2);
    </script>


{#         ///////////////// Get cookie value //////////////////#}


         <script type="text/javascript">


         </script>



{#///////////// Add to cart /////////////#}


         <script type="text/javascript">

            let user = '{{request.user}}'

            let updateBtns = document.getElementsByClassName('update-cart')


            for (let i = 0; i < updateBtns.length; i++) {

                updateBtns[i].addEventListener('click', function (){
                    let productId = this.dataset.product
                    let action = this.dataset.action
                    let quantity = document.getElementById('quantity').value
                    console.log('productId:', productId, 'Action:', action, 'Quantity:', quantity)

                    console.log('User:', user)

                    updateUserOrder(productId, action, quantity)
                })
            }

            function updateUserOrder(productId, action, quantity){

                    console.log('User is authenticated, sending data...')


                    var url = '/update_item/'

                    fetch(url, {
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json',
                            'X-CSRFToken':csrftoken,
                        },
                        body:JSON.stringify({'productId':productId, 'action':action, 'quantity': quantity})
                    })
                        .then((response) => {
                            return response.json();
                        })
                        .then((data) => {
                            location.reload()
                        });
                }

{#         ///////////////// CSRF Token ////////////////#}

            let csrftoken = getToken('csrftoken')
             function getToken(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie !== '') {
                     var cookies = document.cookie.split(';');

                     for (var i = 0; i < cookies.length; i++) {

                         var cookie = cookies[i].trim();

                         if (cookie.substring(0, name.length + 1) === (name + '=')) {

                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));

                             break;
                         }
                     }
                 }
                 return cookieValue;
             }
             {#let csrftoken = getToken('csrftoken')#}

         </script>


         {#//////// Show Images //////////#}


         <script type="text/javascript">

         const showImageBtn = document.getElementById('show-img-btn');
         const imageOverlay = document.getElementById('img-overlay');
         const imageOverlay1 = document.getElementById('img-overlay-1')
         const LoadDots = document.getElementById('loading-dots')

        showImageBtn.addEventListener('click', function() {
            imageOverlay.style.display = 'block';
        });

        imageOverlay.addEventListener('click', function() {
            LoadDots.style.display = 'block';
            imageOverlay.style.display = 'none';
        });

        LoadDots.addEventListener('click', function (){
            imageOverlay1.style.display = 'block';
            LoadDots.style.display = 'none';
            imageOverlay.style.display = 'none';
        })

         imageOverlay1.addEventListener('click', function (){
             imageOverlay1.style.display = 'none'
         })

        setTimeout(function() {
            let image = document.getElementById('img-overlay');
            image.setAttribute('src', '{% static 'images/checked.png' %}');
            image.setAttribute('alt', 'New Image');
    }, 5000); // Replace the image after 5 seconds (5000 milliseconds)

         </script>
    {% endblock %}
</body>
</html>