<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base.html' %}
    <title>{{ drink.productName }}</title>
    {% load static %}
{#    <link rel="stylesheet" href="{% static 'LeafTea.css' %}">#}
    <link rel="stylesheet" href="{% url 'get_drink_info' product.product_name %}">>
    <script src="https://kit.fontawesome.com/4cf7026c74.js" crossorigin="anonymous"></script>
{#    <a href="{% url 'get_drink_info' product.product_name %}">product.product_name</a>#}
{#    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>#}

    <script type="text/javascript">

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function uuidv4() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                let r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        let device = getCookie('device');

        if (device == null || device == undefined) {
            device = uuidv4();
        }
        document.cookie = `device=` + device + `;domain=;path=/
    </script>
</head>
<body>
     {% block content %}
         <section class="images">

            <div class="title">
                <h1 class="title-heading">Your selection <button class="cart"><i class="fa-solid fa-cart-shopping"></i></button></h1>

            </div>

             <div class="main-pg">
                <div class="image">
                    <img src="{% static 'images/'|add:drink.productName|add:'.jpg' %}" />
                </div>

                <div class="quantities">
                    <h1 class="drink-name">{{ drink.productName }}</h1>#}

                    <div class="quantities-select">
                        <span class="drink-price">${{ price }}</span>

                        <input type="text" name="name" value="{{ quantity }}">

                        <button class="plus-btn" type="button" name="button">+</button>

                        <button class="minus-btn" type="button" name="button">-</button>
                    </div>

                    <div class="total-price">
                        <span class="total-price-text">Total:</span>
{#                        <span class="total-price-value">{{ total.value }}</span>#}
                        <input class="tot-price" type="number" id="price" value="{{ total.value }}"><span>$</span>
                    </div>

                    <div class="add-to-cart">
                        <button class="pay-now-btn" type="button" name="button">Pay Now</button>
                        <button data-product="{{ drink.id }}" data-action="add" class="add-to-cart-btn"
                                type="button" name="button">Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="coffee-desc">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

        </section>

    <script type="text/javascript">

        let quantity = document.querySelector('.quantities-select input');
        let plusBtn = document.querySelector('.plus-btn');
        let minusBtn = document.querySelector('.minus-btn');
        let drink_price = {{ price }};
        let total = document.querySelector('.tot-price');
        let quantityValue = 1;
        let priceValue = 5.99;

        plusBtn.addEventListener('click', function () {
            quantityValue++;
            quantity.value = quantityValue;
            total.value = ({{ price }} * quantityValue).toFixed(2);
        });

        minusBtn.addEventListener('click', function () {
            if (quantityValue > 1) {
                quantityValue--;
                quantity.value = quantityValue;
                {#total.value = (priceValue * quantityValue).toFixed(2);#}
                total.value = ({{price}} * quantityValue).toFixed(2);
            }
        });

        quantity.addEventListener('change', function () {
            total.value = ({{price}} * quantity.value).toFixed(2);
        });

        total.value = ({{price}} * quantityValue).toFixed(2);




        let addToCartBtn = document.querySelector('.add-to-cart-btn');

        addToCartBtn.addEventListener('click', function () {
            let productId = this.dataset.product;
            let action = this.dataset.action;
            console.log('productId:', productId, 'action:', action);

            {#console.log('User:', user);#}

            if (user === 'AnonymousUser') {
                console.log('User is not authenticated');
            } else {
                addToCart(productId, action);
            }

        });

        function addToCart(productId, action) {
            console.log('User is authenticated, sending data...');

            let url = '/update_item/';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'productId': productId, 'action': action})
            })

                .then((response) => {
                    return response.json();
                })

                .then((data) => {
                    console.log('data:', data);
                    location.reload();
                });
        }

    </script>
    {% endblock %}
</body>
</html>