{% extends "base.html" %}
{% load static %}

{% block title %}Main{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}

 {% block js_block %}
        <script src="https://kit.fontawesome.com/4cf7026c74.js" crossorigin="anonymous"></script>
    {% endblock %}

{% block content  %}

    <nav>
    <h1 class="title">Welcome! What would you like today?</h1>
    <button class="cart"><i class="fa-solid fa-cart-shopping"></i></button>
    </nav>

    <div class="container">
    {% for drink in drinks %}
        <div class="image">
            {#<a href="{% url 'drinks' drink.productName %}">
{#            <a>#}
            <img src="{% static 'images/'|add:drink.productName|add:'.jpg' %}" />
            <h2>{{ drink.productName}}</h2>
           </a>
        </div>
        </div>

    {% endfor %}
{% endblock %}